.DS_Store

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

infrastructure/keys
infrastructure/banking-deploy-cleanup-iam-policy.json
.ebextensions/*

.github/workflows/ci-cd_1.yml

data

update-banking-service.sh
delete-stacks.sh